<table class="table table-hover">
<thead>
	<tr>
		<th>Tipo</th>
		<th>Descripcion</th>
		<th>Id</th>
	</tr>
</thead>
<tbody>
	<tr>
		<% @tramite.each do |t| %>
		<td><%= t.tipo %></td>
		<td><%= t.comentario %></td>
		<td><%= t.id %></td>
		<% end %>
	</tr>	
</tbody>
</table>